
@mixin flexbox ($display, $flex-direction, $flex-justify, $flex-align) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $flex-justify;
    align-items: $flex-align;
}
.words{
    width: 90%;
    height: auto;
    margin: 1rem auto;
    color: black;
    h3{
        font-family: tahoma, impact;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin: 0.8rem auto;
    }
    p{
        @extend .words;
        line-height: 1.5rem;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.form{
    width: 100%;
    height: auto;
    h4{
        width: 100%;
        text-align: center;
        margin: 0.8rem auto;
        font-size: 1.5rem;
    }
    form{
        @include flexbox(flex, column, center, center);
        width: 100%;
        label{
            font-size: 1.1rem;
        }
        input{
            outline: none;
            border: none;
            width: 80%;
            height: 2.1rem;
            font-size: 1rem;
            margin: 0.8rem;
            border-radius: 0.5rem;
            padding-left: 1rem;
        }
        textarea{
            outline: none;
            border: none;
            resize: vertical;
            max-height: 10rem;
            margin: 1rem 0;
            width: 80%;
        }
        button{
            outline: none;
            border: none;
            width: 8rem;
            height: 2.1rem;
            font-size: 1rem;
            background: rgb(80, 78, 78);
            color: white;
            border-radius: 0.5rem;
            margin: 1rem;
        }
    }
}
@media (min-width: 600px){
    .words{
        width: 80%;
        h3{
            font-size: 1.6rem;
            width: 90%;
        }
        p{
            font-size: 1.3rem;
        }
    }
    .form{
        width: 95%;
        form{
            width: 90%;
            margin: auto;
            input{
                width: 70%;
            }
            textarea{
                width: 70%;
            }
        }
    }
}
@media (min-width: 700px){
    .words{
        width: 75%;
        h3{
            font-size: 1.8rem;
            width: 80%;
        }
        p{
            font-size: 1.45rem;
            line-height: 1.8rem;
        }
    } 
    .form{
        form{
            width: 80%;
            input{
                width: 60%;
            }
            textarea{
                width: 60%;
            }
        }
    }
}
@media (min-width: 850px){
    .words{
        width: 70%;
        h3{
            font-size: 1.8rem;
            width: 75%;
        }
        p{
            font-size: 1.55rem;
            line-height: 1.9rem;
        }
    } 
    .form{
        form{
            width: 70%;
            input{
                width: 50%;
            }
            textarea{
                width: 50%;
            }
        }
    }
}