
@mixin flexbox ($display, $flex-direction, $flex-justify, $flex-align) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $flex-justify;
    align-items: $flex-align;
}
.image-section{
    width: 100%;
    position: relative;
    img{
        width: 100%;
        height: 16rem;
    }
     .main-header{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-family: tahoma, impact;
         width: 100%;
         text-align: center;
         font-size: 1.5rem;
         color: rgb(12, 12, 12);
         text-shadow: 2px 3px 2px white ;
     }
}
.words-section{
     width: 90%;
     margin: auto;
      h3{
        font-family: tahoma, impact;
        font-size: 1.7rem;
        letter-spacing: 1px;
        margin: 1rem 0 0 0;
      }
      h5{
        @extend h3;
        font-size: 1.1rem;
          span{
              @extend h5;
          }
      }
      p{
          @extend h5;
          font-size: 1.1rem;
      }
      button{
        width: 8rem;
        height: 2.1rem;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        background: rgb(206, 99, 12);
        margin: 1rem;
        a{
          color: white;
          text-decoration: none;
          font-size: 0.8rem;
        }
     }
}
@media (min-width: 600px){
    .image-section{
         img{
             height: 18rem;
         }
    }
}
@media (min-width: 800px){
    .image-section{
         img{
             height: 20rem;
         }
         .main-header{
            font-size: 1.7rem;
        }
    }
    .words-section{
        width: 80%;
   }
}
@media (min-width: 930px){
    .image-section{
         img{
             height: 23rem;
         }
    }
    .words-section{
        width: 75%;
   }
}
@media (min-width: 1060px){
    .image-section{
         img{
             height: 26rem;
         }
    }
    .words-section{
        width: 70%;
   }
}